html,
body {
  height: 100%;
}
main {
  height: 100%;
  width: 100%;
}
img {
  width: 50%;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.download_app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.download_app_img {
  text-align: center;
  margin: auto;
}

h4 {
  font-size: 24px;
}
